* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding-top: 10px;
  margin-top: 10px;
}

.announcement {
  background-color: #fedb00;
  padding: 10px;
  border-width: 2px;
  border: 2px, 2px, 2px, 2px;
  border-radius: 10px;
  border-color: #000000;
}

a {
  color:#ee505e;
  text-decoration-color:#000000;
}

.frame {
  background-color: #000000;
}

.map {
  padding: 5px;
}
