* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding-top: 10px;
  margin-top: 10px;
}

.callout{
  padding: 10px;
  border-radius: 10px;
}

.headsup {
  background-color: #FAE65C;
}

.highlight {
  background-color: #4A3B64;
}

.primary {
  background-color: #ee505e;
}

a {
  color:#ee505e;
  text-decoration-color:#000000;
}

div.card {
    display: inline-block;
}

div.card div {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.iframe-video {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.iframe-dynmap {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}
